a {
    color: #00B7FF;
}

.markdown-body {
    background-color: white;
    box-sizing: border-box;
    /* min-width: 200px; */
    max-width: 1080px;
    font-size: 1.2rem;
    /* min-height: 600px; */
    padding: 20px 20px;
}

li {
    list-style: disc;
}